<div class="jumbo">
	<div class="right tomster"></div>
	<h2>About Super Rentals</h2>
	<p>
		Super Rentals is an example property rental site, which has a
		decent mix of images and texts and functionality in general.
	</p>
</div>
