<div class="jumbo">
	<div class="right tomster"></div>
	<!-- It is actually quite weird how we have this.. floating div? -->
	<h2>Contact Us</h2>
	<p>
		Super Rentals representatives would love to help you
		choose a destination, or answer any questions you may have!
	</p>	
	<address>
		Super Rentals
		<p>
			32 Juhkentali<br>
			Tallinn, Harju maakond 10144<br>
			Estonia
		</p>
		<a>(+372) 128 1024</a><br>
		<a href="mailto:superrentalsrep@emberjs.com">
			superrentalsrep@emberjs.com
		</a>
	</address>
	<LinkTo @route="about" class="button">About Us</LinkTo>
</div>
