<div class="jumbo">
	<div class="right tomster"></div>
	<!--
		I don't think we'd actually want a right tomster on every page,
		but these are just examples.
		
		Also, is it not weird how it's.. a floating page element?
	<-->
	{{ yield }}
	<!--
		Recall that we will now be used as <Jumbo></Jumbo>.
		Yield specifies the space for inner HTML.
	-->
</div>
